@charset "UTF-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto auto repeat(9, 1fr); 
	gap: 5px;
	width: 975px; /* gl standard for fuld side og god læsebredde. Ingen grund til at lave responsive web for denne opgave*/
	height: auto; 
	margin-top:0;
	margin-left: auto;
	margin-right:auto;
}

.grid-item {	
	background-color: #ccc;
	border: 1px solid #eee;
	text-align: center;
	line-height: 50px;
	border-radius: 8px; 
	overflow: hidden; 
}

.header-row {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	  background-image:linear-gradient(to bottom right,#FEA9E4, #C078AA, #C3D84B);
	  color: #fff;
	  grid-column: span 4; 
	  text-align: left;
	  padding: 10px;
	  border-radius: 8px;
	  overflow: hidden;
}
	
.grid-item.JENO {
	padding:10px;
	text-align: center;
	line-height:1;
	border-color:fuchsia;
	color:#fff;
	font-family: Times, "Times New Roman", "serif";
	font-size: 32px;
	font-weight:bold;
	background-image:repeating-radial-gradient(red, orange, yellow, pink);
	overflow:hidden;
	height:38px;
	}

.header-row h1 {
	margin-top:1.8em;
}

.header-row:has(h1) {
	border-radius: 0 0 8px 8px; 
}

.header-row dd {
	padding-left:1.5em;
}
